<div class="row m-2">
  <span class="h2 bg-light text-center">コーチング申請一覧</span>
</div>

<div class="row m-3">
  <div class="col-12">
    <table class="table">
      <thead class="table-warning">
        <tr>
          <th>申請日</th>
          <th>
            <% if current_user.is_coach == false %>
              コーチ名
            <% else %>
              会員名
            <% end %>
          </th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody><% @matchings.each do |matching| %>
        <tr>
          <td><%= link_to matching.created_at, matching_path(matching.id) %></td>
          <td><% if current_user.is_coach == false %>
                <%= User.find(matching.coach_id).name %>
              <% else %>
                <%= User.find(matching.user_id).name %>さん
              <% end %></td>
          <td class="text-secondary"><%= matching.approval_i18n %></td>
        </tr><% end %>
      </tbody>
    </table>
  </div>
</div>
