<div class="row m-3">

  <div class="col-2">
    <table class="table">
      <thead>
        <tr>
          <th><%= link_to 'スポーツ一覧', sports_index_path %></th>
        </tr>
      </thead>
      <tbody><% @sports.each do |sport| %><%# リンクを張る %>
        <tr>
          <td><%= link_to sport.name, users_coach_index_path(sport_id: sport.id) %></td>
        </tr><% end %>
      </tbody>
    </table>
  </div>

  <div class="col-10">
    <%= image_tag 'sports.jpg', :size => '898x634' %><br>

    当サイトは、コロナ禍で運動不足な方や手軽にしっかりとしたスポーツの技術を身に付けたい方のためのサイトです。<br>

    主な流れとして<br>
    　1.受講者として会員登録した後に、希望のコーチに申請。<br>
    　2.コーチが申請を確認し、申請者の能力や目的とコーチの能力が見合っていた場合、申請を受理します。<br>
    　3.受講者がスポーツや運動をした動画と補足説明を送信。<br>
    　4.コーチが３に対してフィードバックを返信します。<br>

    また、コーチングを受けていただく上で回数を重ねると向上度合いが一目でわかるようにしています。これによりモチベーションを高く保っていただけます。
  </div>

</div>